Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
Unidecode==0.04.17
Werkzeug==0.10.4
boto==2.38.0
bz2file==0.98
gensim==0.11.1-1
itsdangerous==0.24
joblib==0.8.4
jsonrpc==1.2
mistune==0.5.1
nltk==3.0.2
numpy==1.9.2
pexpect==3.3
scikit-learn==0.16.1
scipy==0.15.1
simplejson==3.7.2
six==1.9.0
smart-open==1.2.1
wsgiref==0.1.2
