<!DOCTYPE html>
<html lang="en">
<head>
    <title>View File</title>
    <script src="/jquery.min.js"></script>
    <script src="/select.js" type="text/javascript"></script>
    <script src="/sorttable.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <link rel="stylesheet" href="/bootstrap.min.css"></link>
</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse">
              <!--   <div id="header">
                </div> -->
              

                <ul class="nav navbar-nav navbar-right .disabled">
                    

                

                </ul>

                </div>
            </div>
    </nav>

    <div id="admin_table_container">
        <h2> Numbers in the document </h2>

        <table class="table sortable" id="number_context">
            <thead>
                <th>Number</th>
                <th>Tag in document</th>
                <th>Context</th>
                {% for cl in r.get_models() %}
                    <th>Using {{cl}}</th>
                {% endfor %}

            </thead>

            <tbody>

                {% for num, pred in r.predict_class_for_each_number(tfile) %}
                <tr>
                    <td>{{num.match}}</td>
                    <td>{{num.tag_str}}</td>
                    <td>{{num.context}}</td>
                    {% for p in pred %}
                        <td> {{ p }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- <div class="row"> -->
    <!-- <div id="col-md-6"> -->
        <h2>Analysis of models</h2>

        {% for cl, p_with_num in r.get_probabilities_for_each_classifier_and_number(tfile) %}
        <h4>{{cl}}</h4>
            <table>
            <thead>
                <th>Number</th>
                <th>Probaility of {{" ,".join(cl.model.classes_)}}
            </thead>
            {% for num, p in p_with_num %}
                <tr>
                    <td>{{num.match}}</td>
                    <td>{{p}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    </div>
   
    <!-- </div> -->



</body>
</html>
