<!DOCTYPE html>
<html lang="en">
<head>
    <title>View File</title>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap.min.css"></link>
</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse">
              <!--   <div id="header">
                </div> -->
              

                <ul class="nav navbar-nav navbar-right .disabled">
                    

                
                    <li>
                        Some button to view features
                    </li>

                </ul>

                </div>
            </div>
    </nav>

    <div class="content_container">
        Here lies the document
    <!-- <div class="row"> -->
    <!-- <div id="col-md-6"> -->

    </div>
   
    <!-- </div> -->



</body>
</html>
